@font-face {
    font-family: 'Roboto';
    src: url(./assest/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf) format('truetype'),
}

body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    }
.logo{
    font-weight: 800;
    font-size: 24px;
}
.nav-bar{
    color: #fff;
    background-color: #1f2937;
    display: flex;
    padding: 24px 32px;
    justify-content: space-between;
    align-items: center;
}
.nav-bar ul{
    font-size: 18px;
    font-weight: 400;
    display: flex;
    gap: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.nav-bar ul > li {
    list-style: none;
}
.nav-bar ul > li > a{
    color: inherit;
    text-decoration: none;
}
.hero{
    color: #fff;
    background-color: #1f2937;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.information-title{
    max-width: 330px;
    margin: 0;
    font-size: 48px;
    color: inherit;
}
.information-subtitle{
    margin: 4px 0;
    max-width: 460px;
    font-size: 18px;
    line-height: 1.2;
    color: #E5E7EB;
}
.hero button{
    padding: 8px 32px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #fff;
    border: 0;
    font-weight: 900;
    font-size: 16px;
    margin-top: 8px;
}
.img-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 280px;
    width: 650px;
}
.second-block{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}
.second-block h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.portfolio-lookup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.portfolio-img{
    height: 200px;
    width: 200px;
    border: 3px solid #007bff;
    border-radius: 14px ;
}
.img-text-blocks{
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
}
.subtext-image{
    text-align: center;
    margin-block-start: 8px;
    margin-block-end: 0;
    font-size: 18px;
    color: #646363;
    
}